.mat-column-_id {
    width: 10%;
    padding-right: 24px;
    text-align: center;
}
.mat-column-title {
    width: 20%;
    /* padding-right: 24px; */
    /* text-align: center; */
}
.mat-column-description {
    width: 30%;
    /* padding-right: 24px; */
    /* text-align: center; */
}
.mat-column-author {
    width: 20%;
    /* padding-right: 24px; */
    /* text-align: center; */
}
.mat-column-actions {
    width: 20%;
    padding-right: 24px;
    /* text-align: right; */
}

.mat-mdc-header-row{
    background-color: #00695C;
    color:white
}

.mat-mdc-header-cell{
    color: white;
    text-align: left;
}