<main class="container">
  <div class="row mt-5">
    <mat-card appearance="raised">
      <mat-card-title>Register</mat-card-title>
      <mat-card-content>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <mat-error *ngIf="errorMessage">
            {{errorMessage}}
          </mat-error>
          <div class="col-12">
            <mat-form-field class="">
              <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
              <mat-error>
                Please provide an email address
              </mat-error>
            </mat-form-field>
            <mat-form-field class="">
              <input matInput placeholder="User Name" [(ngModel)]="user.username" name="username" required>
              <mat-error>
                Please provide an user name
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
              <mat-error>
                Please provide a valid password
              </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-between">
              <button mat-raised-button color="accent" routerLink="/">Cancel</button>
              <button mat-raised-button color="primary">Register</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</main>

